# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle/*
build/*
.idea/*
.gitattributes
gradlew
gradlew.bat

/service/.gradle/*
/service/build/*
/service/.idea/*
/service/.gitattributes
/service/gradlew
/service/gradlew.bat

/entity/.gradle/*
/entity/build/*
/entity/.idea/*
/entity/.gitattributes
/entity/gradlew
/entity/gradlew.bat

/dao/.gradle/*
/dao/build/*
/dao/.idea/*
/dao/.gitattributes
/dao/gradlew
/dao/gradlew.bat

/controller/.gradle/*
/controller/build/*
/controller/.idea/*
/controller/.gitattributes
/controller/gradlew
/controller/gradlew.bat